header {
position: relative;
width: 100%;
height: 400px;


  #lemenu {
    width: 100%;
    height: 80px;
    background-color: #021732;
  }

  img {
    margin-top: 50px;
  }

  li a {
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 700;
    color: white;
  }

  li a:hover {
    color: #f2d03b;
    transition-duration: 1s;
  }
}


.slideryo {
  margin-top: 30px;
  background-image: url(../img/slide.png);
  width: 100%;
  height: 450px;
  background-size: cover;

  p {
    color: white;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 150px;
  }
}


.qui {
  margin-top: 60px;
  width: 100%;
  height: 600px;

  h2 {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    font-size: 30px;
    color: #021732;
  }

  p {
    margin-top: 100px;
    color: #021732;
  }

  #hamburger {
    line-height: 200px;
  }
}

.quoi {
  margin-top: 20px;
  width: 100%;
  height: 1200px;
  background-color: #f2d03b;

  #trait {
    margin-top: 64px;
  }

  h2 {
    margin-top: 50px;
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    font-size: 30px;
    color: #021732;
  }

  .button {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    width: 240px;
    border-radius: 10px;
    background-color: #021732;
    color: #f2d03b;
    text-transform: uppercase;
  }

  .button:hover {
    color: #021732;
    background-color: #f2d03b;
    transition-duration: 0.5s;

  }

  .visutexte {
    margin-top: 200px;

  p {
    margin-top: 50px;
    color: #021732;

    }
  }
}

.formules {
  padding-top: 60px;
  width: 100%;
  height: 900px;
  background-color: #021732;

  h2 {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    font-size: 30px;
    color: #f2d03b;
  }

  #blocs {
    margin-top: 150px;
  }

  article {
    background-color: #f2d03b;
    padding:20px;
    height: 610px;
    width: 0 auto;
    text-align: center;
  }

  ul {
    list-style:none;
    margin-top: 40px;
    margin-left:0;
    padding-left:0;
    }

  li {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
  }

  h3 {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 30px;
  }

  hr {
    border-color: #021732;
  }

  p {
    font-family: 'Bevan', cursive;
    margin-top: 60px;
    font-size: 45px;
    font-weight: 700;
    color: #021732;
  }

  strong {
    font-family: 'Bevan', cursive;
    font-size: 30px;
    font-weight: 700;
  }
}

.quand {
  margin-top: 60px;
  width: 100%;
  height: 700px;

  h2 {
    font-family: 'Bevan', cursive;
    text-transform: uppercase;
    font-size: 30px;
    color: #021732;
  }

  article {
    margin-top: 150px;
    background-color: #f2d03b;
    padding:20px;
    height: 450px;
    width: 0 auto;
    text-align: center;
  }

  img {
    margin-top: 20px;
  }

  p {
    margin-top: 70px;
    font-size: 25px;
    text-transform: uppercase;
    color: #021732;
  }

  strong {
    color: #021732;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.footer {
  height: 350px;
  background-color: #021732;
  text-align: center;

  h4 {
    margin-top: 50px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
  }

  img {
    margin-top: 50px;
    margin: 20px;
  }

  p{
    margin-top: 10px;
    color: #fff;
  }

  strong {
    color: #f2d03b;
  }

  #copyright
}
