<section class="formules">
  <div class="row">
    <img class="small-6 large-2 small-12 columns" src="../assets/img/trait.png" alt="Trait"></img>
      <div class="small-6 large-8 small-12 columns text-center"><h2>Nos formules</h2></div>
        <img class="small-12 large-2 small-12 columns" src="../assets/img/trait.png" alt="Trait"></img>
        <div class="row text-center" id="blocs">
          <article class="medium-4 columns">
            <h3>"Pas trop stp!"</h3>
            <hr style="width: 50%;">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, atque. Animi et commodi quam, ducimus corporis quidem, laboriosam, autem tempora quibusdam enim, optio! Accusamus dolorum provident, error ullam non obcaecati?</p>
              <p>Nisi alias officiis, natus provident numquam recusandae voluptatem rerum quis maiores harum deleniti quam labore necessitatibus, sequi magni in sed vitae modi saepe veniam. Dolore optio tempore odio neque aliquid!</p>
            </div>
          </article>
          <article class="medium-4 columns">
            <h3>"A la bien !"</h3>
            <hr style="width: 50%;">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dignissimos itaque quia cum eligendi, numquam ipsam dolorum culpa, aperiam harum ab animi aspernatur est earum. Aliquam sapiente provident quos reiciendis.</p>
            </div>
          </article>
          <article class="medium-4 columns">
            <h3>"Ça va faire mal !"</h3>
            <hr style="width: 50%;">
            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae distinctio aliquid, magni iusto eligendi tempora adipisci natus dolorem nam atque, numquam perspiciatis fuga ut dolorum. Optio expedita culpa maiores, quas.</p>
              <p>Atque, sit fugit quasi deserunt nesciunt corporis eum vero asperiores, omnis consequatur ipsam voluptatibus. Totam, incidunt. Repudiandae maxime, quisquam nobis? Ad nostrum, voluptas earum nam beatae maxime quam quidem dolores.</p>
              <p>Atque, sit fugit quasi deserunt nesciunt corporis eum vero asperiores, omnis consequatur ipsam voluptatibus. Totam, incidunt. Repudiandae maxime, quisquam nobis? Ad nostrum, voluptas earum nam beatae maxime quam quidem dolores.</p>
            </div>
          </article>
        </div>
