<section class="formules">
  <div class="row">
    <img class="small-6 large-2 small-12 columns" src="../assets/img/trait.png" alt="Trait"></img>
      <div class="small-6 large-8 small-12 columns text-center"><h2>Nos formules</h2></div>
        <img class="small-12 large-2 columns" src="../assets/img/trait.png" alt="Trait"></img>
        <div class="text-center" id="blocs">

        <div class="small-12 medium-6 large-4 columns">
          <article>
            <h3>"Pas trop stp!"</h3>
            <hr style="width: 50%;">
              <ul>
                <li>1 sandwich taille-S</li>
                <li>1 boisson 33cl</li><br />
                <li>1 dessert <br />ou </li>
                <li>1 café/cookie</li>
              </ul>
              <br /><img class="text-center" src="../assets/img/prix1.png"></div>
          </article>
        </div>

        <div class="small-12 medium-6 large-4 columns">
          <article>
            <h3>"A la bien !"</h3>
            <hr style="width: 50%;">
            <ul>
              <li>1 sandwich taille-M</li>
              <li>1 boisson 33cl</li><br />
              <li>1 dessert où une salade <br />+ </li>
              <li>1 café-cookie</li>
            </ul>
            <p>10,50€ <br /> <strong>! la formule magique !</strong></p>

          </article>
        </div>

        <div class="small-12 medium-6 large-4 columns">
          <article>
            <h3>"Ça va faire mal !"</h3>
            <hr style="width: 50%;">
            <ul>
              <li>1 salade</li>
              <li>1 sandwich taille-L</li>
              <li>1 boisson 50cl</li><br />
              <li>1 dessert <br />+</li>
              <li>1 café/cookie</li>
            </ul>
            <img class="text-center" src="../assets/img/prix3.png"></div>
          </article>
        </div>

        </div>
      </div>
    </section>
