<section class="quand">
  <div class="row">
    <img class="small-6 large-2 small-12 columns" src="../assets/img/trait_jaune.png" alt="Trait"></img>
      <div class="small-6 large-8 small-12 columns text-center"><h2>OÙ ET QUAND ?</h2></div>
        <img class="small-12 large-2 columns" src="../assets/img/trait_jaune.png" alt="Trait"></img>
        <div class="large-5 columns">
          <article id="agenda">
            <img class="text-center" src="../assets/img/agenda.png"></img>
            <p><strong>Du lundi au vendredi</strong><br />10h45-18h30<br /><br /><strong>Le samedi</strong><br />10h30-21h30</p>
          </article>
        </div>

        <div class="large-5 columns">
          <article id="local">
            <img class="text-center" src="../assets/img/localisation.png"></img>
            <p><strong>Place de l’étoile</strong><br /><br /> - face à la mairie -<br /><br /> <strong>67000 Strasbourg</strong></p>
          </article>
        </div>
      </div>
    </section>
