<section class="qui">
  <div class="row">
    <img class="small-6 large-2 small-12 columns" src="../assets/img/trait.png" alt="Trait"></img>
      <div class="small-6 large-8 small-12 columns text-center"><h2>Le Bas-Moteur ? Quèsaco ?!</h2></div>
        <img class="small-12 large-2 small-12 columns" src="../assets/img/trait.png" alt="Trait"></img>
      </div>
    <div class="text-center"><p><strong>Le Bas Moteur</strong> est un camion ravitailleur itinérant à Strasbourg et ses environs, nous distribuons<br />
    <strong>sandwichs, burgers, frites, salades, desserts et cafés.</strong><br /><br />
    En effet, ce projet a pour idée de rapprocher les <strong>produits de qualité</strong> que nous trouvons en France et la tradition de la <br /> street food développé aux Etats-Unis, dans le but de mettre en avant
    une street cuisine française <br /> bien loin du traditionnel jambon beurre ou des chaînes de restauration rapide.<br /><br />
    Le Bas Moteur est à l’image de ses deux créateurs, <strong>Giusepe et Marco : simple et efficace.</strong></p>
    <div class="text-center" id="hamburger" ><img src="../assets/img/hamburger.png"></div>
</section>
